/* src/components/ScrollButton/ScrollButton.css */

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.scroll-to-top.show {
    opacity: 0.8; /* Botón se muestra con opacidad cuando es visible */
}

.scroll-to-top:hover {
    opacity: 1;
}
