/* src/components/ScrollButton/ScrollButton.css */
.scroll-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #444444; /* Cambia el color según tu preferencia */
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
  }
  
  
  .scroll-button:active {
    transform: scale(0.9);
  }
  