.code{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div-code{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-codigo{
    width: 50%;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    background: var(--color-boton);
    color: var(--color-letras-boton);
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;  
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
  }
  .button-codigo:hover {
    background: var(--color-boton);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
  }
  .button-codigo:active {
    transform: scale(0.95);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  @keyframes button-shimmer {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
  }
  @keyframes button-particles {
    0% {
      background-position: left top;
    }
  
    100% {
      background-position: right bottom;
    }
}

    /*VISTA MOBILE*/
    @media (max-width: 600px) {
      .button-codigo{
        font-size: 14px;
      }
    }