.estado-demoras-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.estado-demoras-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
}

.estado-demoras-table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
}

.estado-demoras-table th,
.estado-demoras-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: center;
}

.estado-demoras-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.estado-demoras-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
