.navbar{
  display: flex;
  text-align: center;
  align-items: center;
}
.navbar-logo{
  justify-content: start;
  img{
    width: 80px;
    height: 80px;
  }
}
.div-titulo{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin-left: -40px;
}
.titulo-h1{
  color: black;
}
.tu-logo{
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}