/* Estilo general */
.app-layout {
    display: flex;
    flex-direction: row; /* En pantallas grandes, divide horizontalmente */
    height: 100%; /* El contenedor principal ocupa toda la altura */
    overflow: hidden; /* Evita desbordamientos */
  }
  
  /* Navegador en pantallas grandes */
  .responsive-navbar {
    width: 20%; /* El navegador ocupa el 30% */
    min-width: 20%; /* Para asegurarse de que el navegador no se redimensione */
    height: auto; /* Ajuste din치mico */
    padding: 20px;
    background-color: transparent;
    color: white;
    overflow-y: auto; /* Desplazamiento si el contenido del navbar es largo */
    height: 100vh; /* Ocupa toda la altura */
  }
  
  /* Contenido principal en pantallas grandes */
  .app-content {
    flex-grow: 1; /* Ocupa el resto del espacio */
    overflow-y: auto; /* Permite desplazamiento vertical */
    box-sizing: border-box;
  }
  
  /* Pantallas peque침as */
  @media (max-width: 1000px) {
    .app-layout {
      flex-direction: column; /* Cambia a dise침o vertical */
    }
  
    .responsive-navbar {
      width: 100%; /* El navegador ocupa todo el ancho */
      height: auto; /* Ajusta la altura autom치ticamente */
    }
  
    .app-content {
      width: 100%; /* El contenido ocupa todo el ancho */
      min-height: 100vh; /* Asegura que el contenido tenga al menos la altura completa de la ventana */
      overflow-y: auto;
    }
  }
  