/* Contenedor principal */
.productos-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Título */
.productos-title {
  text-align: center;
  font-size: 2rem;
  color: var(--color-letras);
  margin-bottom: 20px;
  font-family: var(--font);
}

/* Grid de productos */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 productos por fila en pantallas grandes */
  gap: 20px;
}

@media (max-width: 1024px) {
  .productos-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 productos por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 productos por fila en pantallas pequeñas */
  }
}

/* Tarjeta de producto */
.producto-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: default;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Imagen del producto */
.producto-image {
  width: 100%;
  height: 200px;
  object-fit: contain; /* Asegura que la imagen no se deforme */
}

/* Información del producto */
.producto-info {
  padding: 15px;
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  justify-content: space-between; /* Distribuye los elementos verticalmente */
}

.producto-title {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--font);
}

.producto-description {
  display: flex;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 10px;
  line-height: 1.4;
  height: 100%;  
  justify-content: center;
  text-align: center; 
}

.producto-price {
  font-size: 1rem;
  color: #27ae60;
  font-weight: bold;
  text-align: center;
}


